/*Style Sheet*/

section {
	width: 100%;
	height: 600px;
	margin-bottom:50px;
	padding: 10px;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	/*background-color: #2f2886;*/
}


.dot01 {   /*サンプル１*/
	background-color: #888;
	background-image: radial-gradient(#444 20%, transparent 0), radial-gradient(#444 20%, transparent 0);
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
}

.dot02 {  /*サンプル１をアレンジしたもの*/
	background-image: radial-gradient(#fff 40%, transparent 0), radial-gradient(#eaa 40%, transparent 0);
	background-position: 0 0, 40px 40px;
	background-size: 80px 80px;
}

.dot03 { /*サンプル２*/
	background-color:#ff0040;
	background-size:50px 50px;
	background-image:radial-gradient(rgba(255,255,255,1),rgba(255,255,255,1) 10px,transparent 10px,transparent);
}

.dot04 { /*サンプル２をアレンジしたもの*/
	background-color:#ff0040;
	background-size:300px 300px; /*円１つを描画する背景のサイズ*/
	background-image:radial-gradient(rgba(255,255,255,0.35),rgba(255,255,255,0.3) 40px,transparent 50px,transparent);
	/*開始色・途中色と適用直径のサイズ・途中色と適用直径のサイズ・終了色*/
}

.dot05{ /*サンプル3*/
background-color:#ff0040;
background-size:60px 60px;
background-image:radial-gradient(15px 15px,rgba(127,255,255,0.7),rgba(127,255,255,0.3) 8px,transparent 8px,transparent),radial-gradient(45px 45px,rgba(255,255,127,0.7),rgba(255,255,127,0.3) 8px,transparent 8px,transparent);
}


.dot06{ /*サンプル3をアレンジしたもの*/
background-color:#ff0040;
background-size:400px 400px;
background-image:radial-gradient(100px 100px,rgba(127,255,255,0.7),rgba(127,255,255,0.3) 50px,transparent 60px,transparent),radial-gradient(300px 300px,rgba(255,255,127,0.7),rgba(255,255,127,0.3) 8px,transparent 8px,transparent);
}


.dot07 {  /*サンプル１をアレンジしたもの*/
	background-image: radial-gradient(rgba(255,255,150,0.55),rgba(255,255,200,0.5) 40px,transparent 50px,transparent),radial-gradient(rgba(255,255,255,0.35),rgba(255,255,255,0.3) 40px,transparent 50px,transparent);
	background-position: 0 0, 200px 200px;
	background-size: 400px 400px;
}




