@import "variable";
@import "mixin";

/***********************************************************
                            BODY / main
***********************************************************/

@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700");
:root {
    font-size: 14px;
}

body {
    font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}


/***********************************************************
                         COMMON PARTS
***********************************************************/

.earth-top {
    @include border-waves($earth-background);
}

.space-top {
    @include border-waves($space-background);
}


/***********************************************************
                           HEADER
***********************************************************/

header {
    height: 85vh;
    width: 100%;
    background-color: $space-background;
    background-image: url("/images/svg/star1300-900.svg");
    background-size: cover;
    nav {
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        position: fixed;
        top: 0;
        padding: 13px 50px 10px 0;
        background-color: $space-background;
        opacity: 0.75;
        vertical-align: center;
        color: white;
        font-size: 1.0rem;
        ol {
            text-align: center;
            li {
                display: inline-block;
                padding: 0px;
                a {
                    padding: 1px 30px;
                    &:hover {
                        color: $space-green;
                        background-color: darken($space-background, 30%);
                        border-radius: 15px;
                    }
                }
            }
        }
        .navmenu {
            display: none;
        }
    }
    h1 {
        text-align: center;
        line-height: 90vh;
        font-size: 3.0rem;
        font-weight: 700;
        letter-spacing: 0.6rem;
        color: $space-green;
    }
    //960px以下の場合の指定（タブレット）
    @media (max-width: 960px) {
        nav {
            padding: 0;
            height: auto;
            .navmenu {
                display: block;
                font-size: 2.5rem;
                float: right;
                padding: 2px 5px 0 0;
            }
            .navmenu_list {
                display: none;
            }
            //隠しメニュー
            &.nav-open {
                opacity: 0.9;
                background-color: darken($space-background, 7%);
                .navmenu_list {
                    display: block;
                    text-align: left;
                    padding: 15px 0;
                    li {
                        display: block;
                        line-height: 3rem;
                        text-align: center;
                        margin: 0 10vw;
                        border-bottom: 2px solid;
                        border-color: rgba(#fff, 0.3);
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover {
                            color: $space-green;
                            border-radius: 0px;
                            background-color: darken($space-background, 15%);
                        }
                        a {
                            &:hover {
                                background-color: darken($space-background, 15%);
                            }
                        }
                    }
                }
            }
        }
        h1 {
            font-size: 2.5rem;
        }
    }
    //600px以下の場合の指定（モバイル）
    @media (max-width: 480px) {
        h1 {
            font-size: 2.0rem;
        }
    }
}


/***********************************************************
                           ABOUT ME
***********************************************************/

.aboutme {
    width: 100%;
    background-color: $earth-background;
    @include section-title;
    @media (max-width: 960px) {
        @include section-title(1.8rem, 0.18rem, 2.7rem);
    }
    @media (max-width: 480px) {
        @include section-title(1.6rem,
        0.16rem,
        2.4rem);
    }
}

//サイズ計算メモ
//2:3=1.8:x  x=(3*1.8)/2= 2.7
//2:3=1.6:x  x=(3*1.6)/2= 2.4

/***********************************************************
                           WORKS
***********************************************************/

.works {
    width: 100%;
    background-color: $space-background;
    @include section-title;
    @media (max-width: 960px) {
        @include section-title(1.8rem, 0.18rem, 2.7rem);
    }
    @media (max-width: 480px) {
        @include section-title(1.6rem,
        0.16rem,
        2.4rem);
    }
}


/***********************************************************
                           SKILLS
***********************************************************/

.skills {
    width: 100%;
    background-color: $earth-background;
    @include section-title;
    @media (max-width: 960px) {
        @include section-title(1.8rem, 0.18rem, 2.7rem);
    }
    @media (max-width: 480px) {
        @include section-title(1.6rem,
        0.16rem,
        2.4rem);
    }
}


/***********************************************************
                           FOOTER
***********************************************************/

footer {
    width: 100%;
    vertical-align: top;
    background-color: $space-background;
    background-image: url("/images/svg/star1300-900.svg");
    background-size: cover;
    .snsicons {
        color: white;
        font-size: 3rem;
        padding-top: 20px;
        text-align: center;
        li {
            display: inline-block;
            padding: 0 5px;
            a:hover {
                color: $space-green;
            }
        }
    }
    aside {
        width: 100%;
        box-sizing: border-box;
        padding: 30px 0;
        text-align: center;
        vertical-align: bottom;
        color: rgba(#fff, 0.7);
        letter-spacing: 0.15rem;
        font-size: 0.8rem;
    }
    //タブレット版
    @media (max-width:960px) {
        .snsicons {
            font-size: 2.6rem;
        }
    }
    @media (max-width: 480px) {
        .snsicons {
            font-size: 2.4rem;
        }
        aside {
            font-size: 0.6rem;
            padding: 25px 0;
        }
    }
}


/***********************************************************
                           TEXT
***********************************************************/

//test反映用のパーシャル
div {
    &#font {
        section {
            font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
        }
        #test01 {
            font-weight: bold;
        }
        #test02 {
            font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) thin', sans-serif;
        }
        #test03 {
            font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Black', sans-serif;
            color: #fafa99;
            font-size: 2.0em;
            font-weight: 900;
        }
        #test04 {
            //フォントの横幅を150%にするテストをしてみる
            font-family: 'Palanquin Dark', sans-serif;
            font-weight: bold;
            letter-spacing: 0.1em;
            font-stretch: ultra-expanded;
        }
    }
    &#headertest {
        height: 85vh;
        width: 100%;
        background-color: $space-background;
        background-image: url("/images/svg/star1300-900.svg");
        background-size: cover;
        h1 {
            text-align: center;
            line-height: 90vh;
        }
    }
}