@import "variables";

/***********************************************************
                            BODY / main
***********************************************************/

@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700");
:root {
    font-size: 14px;
}

body {
    font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}


/***********************************************************
                         COMMON PARTS
***********************************************************/

@mixin border-waves($color) {
    vertical-align: top;
    background-color: $color;
    img {
        vertical-align: top;
    }
}

.earth-top {
    @include border-waves($earth-background);
}

.space-top {
    @include border-waves($space-background);
}

%section-title {
    h2 {
        padding: 50px 0;
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 2.0rem;
        letter-spacing: 0.2rem;
        &:first-letter {
            font-size: 3.0rem;
        }
    }
}


/***********************************************************
                           HEADER
***********************************************************/

header {
    height: 85vh;
    width: 100%;
    background-color: $space-background;
    background-image: url("/images/svg/star1300-900.svg");
    background-size: cover;
    nav {
        position: fixed;
        top: 0;
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        padding: 10px 50px 10px 0;
        background-color: $space-background;
        color: white;
        font-size: 1.0rem;
        font-weight: normal;
        opacity: 0.75;
        ol {
            text-align: center;
            li {
                display: inline-block;
                padding: 0px;
                a {
                    padding: 1px 30px;
                    border-radius: 15px;
                    background-color: $space-background;
                    &:hover {
                        color: $space-green;
                        background-color: #0f141d;
                    }
                }
            }
        }
    }
    h1 {
        text-align: center;
        line-height: 90vh;
        font-size: 3.0rem;
        font-weight: 700;
        letter-spacing: 0.6rem;
        color: $space-green;
    }
}


/***********************************************************
                           ABOUT ME
***********************************************************/

.aboutme {
    width: 100%;
    background-color: $earth-background;
    @extend %section-title;
}


/***********************************************************
                           WORKS
***********************************************************/

.works {
    width: 100%;
    background-color: $space-background;
    @extend %section-title;
}


/***********************************************************
                           SKILLS
***********************************************************/

.skills {
    width: 100%;
    background-color: $earth-background;
    @extend %section-title;
}


/***********************************************************
                           FOOTER
***********************************************************/

footer {
    // height: 30vh;
    // min-height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: top;
    background-color: $space-background;
    background-image: url("/images/svg/star1300-900.svg");
    background-size: cover;
    .snsicons {
        height: 4rem;
        color: white;
        font-size: 3.5rem;
        margin-top: 15px;
        ul {
            text-align: center;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                padding: 0 5px;
                font-size: 3.0rem;
                list-style: none;
                a:hover {
                    color: $space-link;
                }
            }
        }
    }
    aside {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 30px;
        color: white;
        letter-spacing: 0.1rem;
        font-size: 1.0rem;
        text-align: center;
        vertical-align: bottom;
    }
}