@import "variable";
@import "mixin";

/***********************************************************
                            BODY / main
***********************************************************/

@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700");
:root {
    font-size: 14px;
}

body {
    font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}


/***********************************************************
                         COMMON PARTS
***********************************************************/

.earth-top {
    @include border-waves($earth-background);
}

.space-top {
    @include border-waves($space-background);
}


/***********************************************************
                           ABOUT ME
***********************************************************/

.aboutme {
    @include section-title;
    @include base-area-pc($earth-background,
    flex,
    row);
    // width: 100%;
    // background-color: $earth-background;
    // &__content {
    //     display: flex;
    //     flex-flow: row;
    //     width: 76vw;
    //     max-width: 1280px;
    //     margin: auto;
    //     padding-bottom: 150px;
    // }
    &__photo {
        width: 300px;
        height: 300px;
        border-radius: 300px;
        margin-left: 5vw;
    }
    &__profile {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        line-height: 2.2rem;
        article {
            text-shadow: 0px 0px 2rem $earth-text-shadow;
            color: white;
            margin-bottom: 50px;
        }
        table {
            color: white;
        }
    }
    //タブレット
    @media (max-width: 960px) {
        @include section-title(1.8rem,
        0.18rem,
        2.7rem);
    }
    //モバイル
    @media (max-width: 480px) {
        @include section-title(1.6rem,
        0.16rem,
        2.4rem);
    }
}

//サイズ計算メモ
//2:3=1.8:x  x=(3*1.8)/2= 2.7
//2:3=1.6:x  x=(3*1.6)/2= 2.4

/***********************************************************
                           WORKS
***********************************************************/

.works {
    width: 100%;
    background-color: $space-background;
    @include section-title;
    @media (max-width: 960px) {
        @include section-title(1.8rem, 0.18rem, 2.7rem);
    }
    @media (max-width: 480px) {
        @include section-title(1.6rem,
        0.16rem,
        2.4rem);
    }
}


/***********************************************************
                           SKILLS
***********************************************************/

.skills {
    width: 100%;
    background-color: $earth-background;
    @include section-title;
    @media (max-width: 960px) {
        @include section-title(1.8rem, 0.18rem, 2.7rem);
    }
    @media (max-width: 480px) {
        @include section-title(1.6rem,
        0.16rem,
        2.4rem);
    }
}


/***********************************************************
                           FOOTER
***********************************************************/

footer {
    width: 100%;
    vertical-align: top;
    background-color: $space-background;
    background-image: url("/images/svg/star1300-900.svg");
    background-size: cover;
    .snsicons {
        color: white;
        font-size: 3rem;
        padding-top: 20px;
        text-align: center;
        li {
            display: inline-block;
            padding: 0 5px;
            a:hover {
                color: $space-green;
            }
        }
    }
    aside {
        width: 100%;
        box-sizing: border-box;
        padding: 30px 0;
        text-align: center;
        vertical-align: bottom;
        color: rgba(#fff, 0.7);
        letter-spacing: 0.15rem;
        font-size: 0.8rem;
    }
    //タブレット版
    @media (max-width:960px) {
        .snsicons {
            font-size: 2.6rem;
        }
    }
    @media (max-width: 480px) {
        .snsicons {
            font-size: 2.4rem;
        }
        aside {
            font-size: 0.6rem;
            padding: 25px 0;
        }
    }
}


/***********************************************************
                           TEXT
***********************************************************/

//test反映用のパーシャル
div {
    &#font {
        section {
            font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
        }
        #test01 {
            font-weight: bold;
        }
        #test02 {
            font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) thin', sans-serif;
        }
        #test03 {
            font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Black', sans-serif;
            color: #fafa99;
            font-size: 2.0em;
            font-weight: 900;
        }
        #test04 {
            //フォントの横幅を150%にするテストをしてみる
            font-family: 'Palanquin Dark', sans-serif;
            font-weight: bold;
            letter-spacing: 0.1em;
            font-stretch: ultra-expanded;
        }
    }
    &#headertest {
        height: 85vh;
        width: 100%;
        background-color: $space-background;
        background-image: url("/images/svg/star1300-900.svg");
        background-size: cover;
        h1 {
            text-align: center;
            line-height: 90vh;
        }
    }
}