@import "variables";

/***********************************************************
                            BODY / main
***********************************************************/

@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700");
:root {
    font-size: 14px;
}

body {
    font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}


/***********************************************************
                         COMMON PARTS
***********************************************************/

@mixin border-waves($color) {
    vertical-align: top;
    background-color: $color;
    img {
        vertical-align: top;
    }
}

.earth-top {
    @include border-waves($earth-background);
}

.space-top {
    @include border-waves($space-background);
}

%section-title {
    h2 {
        padding: 50px 0;
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 2.0rem;
        letter-spacing: 0.2rem;
        &:first-letter {
            font-size: 3.0rem;
        }
    }
}


/***********************************************************
                           HEADER
***********************************************************/

header {
    height: 85vh;
    width: 100%;
    background-color: $space-background;
    background-image: url("/images/svg/star1300-900.svg");
    background-size: cover;
    nav {
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        position: fixed;
        top: 0;
        padding: 13px 50px 10px 0;
        background-color: $space-background;
        opacity: 0.75;
        vertical-align: center;
        color: white;
        font-size: 1.0rem;
        ol {
            text-align: center;
            li {
                display: inline-block;
                padding: 0px;
                a {
                    padding: 1px 30px;
                    &:hover {
                        color: $space-green;
                        background-color: darken($space-background, 30%);
                        border-radius: 15px;
                    }
                }
            }
        }
        .navmenu {
            display: none;
        }
    }
    h1 {
        text-align: center;
        line-height: 90vh;
        font-size: 3.0rem;
        font-weight: 700;
        letter-spacing: 0.6rem;
        color: $space-green;
    }
    //960px以下の場合の指定（タブレット）
    @media (max-width: 960px) {
        nav {
            padding: 0;
            height: auto;
            .navmenu {
                display: block;
                font-size: 2.5rem;
                float: right;
                padding: 2px 5px 0 0;
            }
            .navmenu_list {
                display: none;
            }
            //隠しメニュー
            &.nav-open {
                opacity: 0.9;
                background-color: darken($space-background, 7%);
                .navmenu_list {
                    display: block;
                    text-align: left;
                    padding: 6px 0;
                    li {
                        display: block;
                        line-height: 3rem;
                        text-align: center;
                        margin: 0 10vw;
                        border-bottom: 2px solid;
                        border-color: rgba(#fff, 0.3);
                        &:last-child {
                            border-bottom: none;
                        }
                        a {
                            padding: 0;
                            width: 100%;
                            &:hover {
                                color: $space-green;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
        h1 {
            font-size: 2.5rem;
        }
    }
    //600px以下の場合の指定（モバイル）
    @media (max-width: 600px) {}
}


/***********************************************************
                           ABOUT ME
***********************************************************/

.aboutme {
    width: 100%;
    background-color: $earth-background;
    @extend %section-title;
}


/***********************************************************
                           WORKS
***********************************************************/

.works {
    width: 100%;
    background-color: $space-background;
    @extend %section-title;
}


/***********************************************************
                           SKILLS
***********************************************************/

.skills {
    width: 100%;
    background-color: $earth-background;
    @extend %section-title;
}


/***********************************************************
                           FOOTER
***********************************************************/

footer {
    width: 100%;
    vertical-align: top;
    background-color: $space-background;
    background-image: url("/images/svg/star1300-900.svg");
    background-size: cover;
    .snsicons {
        height: 4rem;
        color: white;
        font-size: 3.5rem;
        padding-top: 15px;
        ul {
            text-align: center;
            li {
                display: inline-block;
                padding: 0 5px;
                font-size: 3.0rem;
                a:hover {
                    color: $space-link;
                }
            }
        }
    }
    aside {
        width: 100%;
        box-sizing: border-box;
        padding: 30px;
        color: white;
        letter-spacing: 0.1rem;
        font-size: 1.0rem;
        text-align: center;
        vertical-align: bottom;
    }
}