@import "variable";
@import "mixin";

/***********************************************************
※mixin/extend/class name命名ルール

-(シングルハイフン) 文字の接続
__（アンダーバー）　パーツ 
--（ダブルハイフン）　パターン

*EXAMPLE
section-border--earth：section borderのearthパターン
***********************************************************/


/***********************************************************
                            BODY / main
***********************************************************/

@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700");
:root {
    font-size: 14px;
}

body {
    font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
    .bold-text {
        //和英どちらもboldになる
        font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Black', sans-serif;
        font-weight: bold;
    }
    .thin-text {
        //和文のみ細字になるが、英文はfont-weightを指定しても細くならない
        font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) thin', sans-serif;
    }
}

a {
    text-decoration: none;
    color: $space-link;
}

ul li {
    list-style: none;
}


/***********************************************************
                      SECTION BORDER
***********************************************************/

.section-border {
    &--earth {
        @include border-waves($earth-background);
    }
    &--space {
        @include border-waves($space-background);
    }
}