// 変数作成用パーシャルファイル

/***************************************************************
                          Color Settings
****************************************************************/


/*宇宙背景ver. カラーリング*/

$space-background:#212E45; //宇宙背景カラー
$space-green: #CFED47; //宇宙背景用アクセントカラー （アイコン）
$space-lightgreen:lighten($space-green, 30%); //宇宙背景用アクセントカラー（サブタイトル
$space-gray: #4E586A; //宇宙背景用サブカラー　（白20%透過色　アイコンの丸背景、タイトルのボーダー、サブテキスト）
$space-text: #d4d9e2; //宇宙背景用テキストカラー
$space-link: #C7D7F2; //宇宙背景用リンクカラー

/*地球背景ver. カラーリング*/

$earth-background: #ACCC1E; //地球背景カラー
$earth-text: #edf1dc; //地球背景用テキストカラー
$earth-dark: darken($earth-background, 10%); //テキストシャドウ、コンテンツ背景
$earth-light: lighten($earth-background, 10%);
$earth-light1: #ddeaa3; //地球背景用ライトカラー1
$earth-light2: #BBD54C; //地球背景用ライトカラー2（サブコンテンツエリアカラー）
$earth-blue1:#3D4E3D; //地球背景用アクセントカラー1
$earth-blue2: #335788; //地球背景用アクセントカラー2 （サブタイトル、サブコンテンツ）
$earth-red: #FF4B4B; //地球背景用アクセントカラー２（スキル用赤ハート）
$earth-red2: #fd2b2b; //地球背景用アクセントカラー２（スキル用赤ハート）
//$earth-link: #C7D7F2; //地球背景用リンクカラー ※未使用のためカラー未調整

/***************************************************************
                          Size Settings
****************************************************************/