// 変数作成用パーシャルファイル

/***************************************************************
                          Color Settings
****************************************************************/


/*宇宙背景ver. カラーリング*/

$space-background:#212E45; //宇宙背景カラー
$space-green: #CFED47; //宇宙背景用アクセントカラー （サイトタイトル、サブタイトル、アイコン）
$space-gray: #4E586A; //宇宙背景用サブカラー　（白20%透過色　アイコンの丸背景、タイトルのボーダー、サブテキスト）
$space-text: #ffffff; //宇宙背景用テキストカラー
$space-link: #C7D7F2; //宇宙背景用リンクカラー

/*地球背景ver. カラーリング*/

$earth-background: #ACCC1E; //地球背景カラー
$earth-blue: #335788; //地球背景用アクセントカラー （サブタイトル、サブコンテンツ）
$earth-white: #BBD54C; //地球背景用サブカラー（サブコンテンツエリアカラー） 
$earth-red: #FF4B4B; //地球背景用アクセントカラー２（スキル用赤ハート）
$earth-text: #ffffff; //地球背景用テキストカラー
$earth-text-shadow: darken($earth-background, 20%); //地球背景用テキストカラー
//$earth-link: #C7D7F2; //地球背景用リンクカラー ※未使用のためカラー未調整

/***************************************************************
                          Size Settings
****************************************************************/