@import "variable";

/* PCver */

.cbp_tmtimeline {
    margin: 120px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    li {
        position: relative;
    }
    /* The line */
    &:before {
        content: '';
        position: absolute;
        top: 12px;
        bottom: 0;
        width: 8px;
        background: $earth-light1;
        left: 24%;
        margin-left: -10px;
    }
    /* The icons */
    >li .cbp_tmicon {
        width: 40px;
        height: 40px;
        font-size: 1.4em;
        line-height: 40px;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        color: $earth-light1;
        background: $earth-background;
        border-radius: 50%;
        box-shadow: 0 0 0 6px $earth-light1;
        text-align: center;
        left: 24%;
        top: 12px;
        margin: 0 0 0 -25px;
    }
    /* The date/time */
    >li .cbp_tmtime {
        display: block;
        width: 18%;
        padding-right: 80px;
        margin-top: 15px;
        text-align: right;
        position: absolute;
        span {
            display: inline-block;
            text-align: right;
            color: $earth-light1;
            &.num {
                font-size: 1.8rem;
            }
            &.char {
                font-size: 1.0rem;
            }
        }
    }
    /* Right content */
    >li .cbp_tmlabel {
        margin: 0 10% 40px 30%;
        background: $earth-light1;
        color: $earth-blue1;
        padding: 16px 24px;
        font-size: 1.0rem;
        line-height: 1.8rem;
        position: relative;
        border-radius: 5px;
        p {
            padding: 10px 0;
            font-size: 0.8rem;
        }
        h3 {
            margin-top: 0px;
            padding: 0 0 10px 0;
            border-bottom: 2px dotted lighten($earth-blue1, 30%);
            font-weight: 100;
            letter-spacing: 0.5rem;
        }
        /* The triangle */
        &:after {
            right: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color: $earth-light1;
            border-width: 10px;
            top: 20px;
        }
    }
    // 奇数行吹き出し設定
    >li:nth-child(odd) {
        .cbp_tmlabel {
            background: $earth-blue1;
            color: lighten($earth-blue1, 60%);
        }
        .cbp_tmlabel:after {
            border-right-color: $earth-blue1;
        }
        h3 {
            margin-top: 0px;
            padding: 0 0 10px 0;
            border-bottom: 2px dotted lighten($earth-blue1, 30%);
            font-weight: 100;
        }
    }
}


/* Mobile & Tablet */

@media screen and (max-width: 960px) {
    .cbp_tmtimeline {
        margin-top: 50px;
        &:before {
            display: none;
        }
        >li {
            .cbp_tmtime {
                width: 100%;
                position: relative;
                padding: 0 0 20px 60px;
                ;
                text-align: left;
                span {
                    display: inline-block;
                    text-align: left;
                    color: $earth-light1;
                    &.num {
                        font-size: 1.5rem;
                    }
                    &.char {
                        font-size: 0.8rem;
                    }
                }
            }
            .cbp_tmlabel {
                margin: 10px 0 30px 0;
                padding: 1em;
                font-weight: 400;
                font-size: 95%;
                &:after {
                    right: auto;
                    left: 20px;
                    border-right-color: transparent;
                    border-bottom-color: $earth-light1;
                    top: -20px;
                }
            }
            .cbp_tmicon {
                width: 30px;
                height: 30px;
                font-size: 1.2rem;
                line-height: 2.2rem;
                box-shadow: 0 0 0 4px $earth-light1;
                position: relative;
                float: left;
                left: auto;
                margin: -55px 5px 0 15px;
            }
            &:nth-child(odd) .cbp_tmlabel:after {
                border-right-color: transparent;
                border-bottom-color: $earth-blue1;
            }
        }
    }
}