@import "variable";
@import "mixin";

/***********************************************************
                        WORKS
***********************************************************/

.works {
    @include base-area--pc($space-background);
    &__title {
        @include section-title--pc;
    }
    &__description {
        @include sentence--pc--basic($space-text);
        a {
            letter-spacing: 0.2rem;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .joblist {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        &__items {
            width: 25%;
            .job__icon {
                $icon-size: 6rem;
                $icon-padding: 1.5rem;
                width: 200px;
                height: 200px;
                border-radius: 100%;
                margin: auto;
                background-color: $space-gray;
                box-sizing: border-box;
                padding: 30px;
                text-align: center;
                &:before {
                    font-family: 'pikufont';
                    font-size: $icon-size;
                    color: $space-green;
                }
                &:after {
                    display: block;
                    padding-top: $icon-padding;
                    font-size: 1rem;
                    letter-spacing: 0.1rem;
                    color: $space-lightgreen;
                }
                &--uiux {
                    &:before {
                        content: "\e9a3";
                        font-size: $icon-size + 1rem;
                    }
                    &:after {
                        content: "UI/UX DESIGN";
                        padding-top: $icon-padding - 1rem;
                    }
                }
                &--uxwriting {
                    &:before {
                        content: "\e9e8";
                    }
                    &:after {
                        content: "UX WRITING";
                    }
                }
                &--direction {
                    &:before {
                        content: "\e9cb";
                    }
                    &:after {
                        content: "DIRECTION";
                    }
                }
                &--planning {
                    &:before {
                        font-size: $icon-size - 0.5rem;
                        // content: "\e9e7"; //紙飛行機
                        // content: "\e9e6"; //パレット
                        content: "\e9cc"; //地図
                    }
                    &:after {
                        content: "PLANNING";
                        padding-top: $icon-padding + 0.5rem;
                    }
                }
            }
            .job__description {
                box-sizing: border-box;
                padding: 30px 15px 60px 15px;
                @include sentence--pc--small($space-text);
            }
        }
    }
    .job-rate {
        h3 {
            @include sentence--pc--large($space-lightgreen);
            text-align: center;
            font-weight: normal;
            line-height: 4rem;
        }
        .ratebar {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 90px;
            border: 1px solid darken($space-background, 5%);
            .barparts {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                .barblock {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 1rem;
                    text-align: center;
                    font-size: 1.0rem;
                    letter-spacing: 0.1rem;
                    color: white;
                }
                .barnum {
                    display: none;
                }
                .bartitle {
                    display: inline;
                }
                .percnum {
                    padding-top: 5px;
                    font-size: 1.6rem;
                    &:after {
                        content: "%";
                        font-size: 0.8rem;
                    }
                }
                &--uiux {
                    z-index: 5;
                    background-color: lighten($space-green, 10%);
                    width: 30%;
                    .barblock {
                        color: darken($space-green, 40%);
                        font-weight: bold;
                    }
                }
                &--uxwriting {
                    z-index: 4;
                    background-color: darken($space-green, 20%);
                    width: 55%;
                    .barblock {
                        padding-left: (55% * 1.05);
                    }
                }
                &--direction {
                    z-index: 3;
                    background-color: darken($space-green, 30%);
                    width: 80%;
                    .barblock {
                        padding-left: (80% * 0.9);
                    }
                }
                &--planning {
                    z-index: 2;
                    background-color: darken($space-green, 40%);
                    width: 90%;
                    .barblock {
                        padding-left: (90% * 1);
                    }
                    .bartitle {
                        font-size: 0.9rem;
                        padding-bottom: 0.1rem;
                    }
                }
                &--others {
                    z-index: 1;
                    background-color: darken($space-green, 50%);
                    width: 100%;
                    .barblock {
                        padding-left: (95% * 0.96);
                    }
                    .bartitle {
                        font-size: 0.9rem;
                        padding-bottom: 0.1rem;
                    }
                }
            }
        }
        .ratedfn {
            display: none;
        }
    }
    .jobcase {
        margin-top: 100px;
        &__title {
            border-bottom: 2px solid $space-gray;
            border-top: 2px solid $space-gray;
            padding: 1rem;
            text-align: center;
            h3 {
                @include sentence--pc--large($space-lightgreen);
                font-weight: normal;
            }
            aside {
                @include sentence--pc--small($space-text);
            }
        }
        &__description {
            @include sentence--pc--basic($space-text);
            margin: 20px 0;
        }
        &__images {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 40px;
            a {
                width: 45%;
                img {
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    /***********************************************************
                       JOBRATE用ブレイクポイント
    ***********************************************************/
    @media (max-width: 1150px) {
        .job-rate {
            .ratebar {
                .barparts {
                    .barblock {
                        padding-bottom: 0.5rem;
                    }
                    .barnum {
                        background-color: white;
                        display: inline-block;
                        box-sizing: border-box;
                        width: 1.4rem;
                        height: 1.4rem;
                        border-radius: 1rem;
                        font-size: 1.15rem;
                    }
                    &--uiux {
                        .barnum {
                            display: inline-block;
                            background-color: darken($space-green, 40%);
                            color: lighten($space-green, 10%);
                            font-weight: normal;
                            padding-left: 1px;
                        }
                    }
                    &--uxwriting {
                        .barnum {
                            display: inline-block;
                            color: darken($space-green, 20%);
                            padding-top: 1px;
                            padding-left: 1px;
                        }
                    }
                    &--direction {
                        .barnum {
                            display: inline-block;
                            color: darken($space-green, 30%);
                            padding-top: 1px;
                            padding-left: 1px;
                        }
                    }
                    &--planning {
                        .barblock {
                            padding-left: (90% * 1.01);
                        }
                        .barnum {
                            display: inline-block;
                            color: darken($space-green, 40%);
                        }
                        .bartitle {
                            display: none;
                        }
                        .percnum {
                            letter-spacing: 0.01rem;
                        }
                    }
                    &--others {
                        .barblock {
                            padding-left: (95% * 0.97);
                        }
                        .barnum {
                            display: inline-block;
                            color: darken($space-green, 50%);
                        }
                        .bartitle {
                            display: none;
                        }
                        .percnum {
                            letter-spacing: 0.01rem;
                        }
                    }
                }
            }
            .ratedfn {
                display: flex;
                flex-wrap: wrap;
                margin-top: 15px;
                &--item {
                    width: 30%;
                    letter-spacing: 0.15rem;
                    color: $space-lightgreen;
                    margin-bottom: 15px;
                    opacity: 0.7;
                }
                &--num {
                    display: inline-block;
                    color: $space-background;
                    background: $space-lightgreen;
                    border-radius: 1rem;
                    width: 1.4rem;
                    height: 1.4rem;
                    box-sizing: border-box;
                    padding-left: 5px;
                    border-radius: 1.15rem;
                    font-size: 1.15rem;
                }
                &--title {
                    display: inline-block;
                    margin-left: 5px;
                    font-size: 0.8rem;
                }
                &--perc {
                    display: none;
                    padding-left: 5px;
                    font-size: 1.2rem;
                    color: $space-green;
                    u {
                        font-size: 0.5rem;
                        color: $space-lightgreen;
                    }
                }
                &__uiux {
                    display: none;
                }
                &__uxwriting {
                    display: none;
                }
                &__direction {
                    display: none;
                }
            }
        }
    }
    @media(max-width: 960px) {
        .job-rate {
            h3 {
                @include sentence--tablet--large($space-lightgreen);
                line-height: 3.5rem;
            }
        }
    }
    @media (max-width: 780px) {
        .job-rate {
            .ratebar {
                // height: 80px;
                height: 50px;
                .barparts {
                    .barblock {
                        padding-bottom: 0.4rem;
                    }
                    .bartitle {
                        display: none;
                    }
                    // 
                    .percnum {
                        display: none;
                    }
                }
            }
            .ratedfn {
                margin-top: 20px;
                &--item {
                    width: 50%;
                }
                &--perc {
                    display: inline-block;
                }
                &__uiux {
                    display: block;
                }
                &__uxwriting {
                    display: block;
                }
                &__direction {
                    display: block;
                }
            }
        }
    }
    @media (max-width: 580px) {
        .job-rate {
            h3 {
                @include sentence--mobile--large($space-lightgreen);
                line-height: 3rem;
            }
            .ratedfn {
                &__uiux {
                    width: 80%;
                }
            }
        }
    }
    /***********************************************************
                       JOBLIST用ブレイクポイント
    ***********************************************************/
    @media (max-width: 1100px) {
        .joblist {
            flex-wrap: wrap;
            &__items {
                width: 50%;
                .job__description {
                    padding: 20px 20px 60px 20px;
                    @include sentence--tablet--small($space-text);
                    line-height: 1.2rem;
                }
            }
        }
    }
    @media (max-width: 580px) {
        .joblist {
            flex-direction: column;
            &__items {
                width: 100%;
                .job__description {
                    padding: 20px 10% 60px 10%;
                    @include sentence--mobile--small($space-text);
                    line-height: 1.2rem;
                }
            }
        }
    }
    /***********************************************************
                       JOBCASE用ブレイクポイント
    ***********************************************************/
    @media (max-width: 960px) {
        .jobcase {
            &__title {
                padding: 0.8rem;
                h3 {
                    @include sentence--tablet--large($space-lightgreen);
                }
                aside {
                    @include sentence--tablet--small($space-text);
                }
            }
            &__description {
                @include sentence--tablet--basic($space-text);
                margin: 20px 0;
            }
            &__images {
                padding-top: 20px;
            }
        }
    }
    @media (max-width: 750px) {
        .jobcase {
            &__title {
                padding: 0.8rem;
                h3 {
                    @include sentence--tablet--large($space-lightgreen);
                }
                aside {
                    @include sentence--tablet--small($space-text);
                }
            }
            &__description {
                @include sentence--tablet--basic($space-text);
                margin: 20px 0;
            }
            &__images {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 30px;
                a {
                    width: 90%;
                    height: 100%;
                    img {
                        box-sizing: border-box;
                        margin-bottom: 10px;
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
    @media (max-width: 580px) {
        .jobcase {
            &__title {
                padding: 0.8rem;
                h3 {
                    @include sentence--mobile--large($space-lightgreen);
                }
                aside {
                    @include sentence--mobile--small($space-text);
                }
            }
            &__description {
                @include sentence--mobile--basic($space-text);
                margin: 20px 0;
            }
            &__images {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 10px;
                a {
                    width: 90%;
                    height: 100%;
                    img {
                        box-sizing: border-box;
                        margin-bottom: 10px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    /***********************************************************
                       共通パーツ用ブレイクポイント
    ***********************************************************/
    @media (max-width: 960px) {
        &__title {
            @include section-title--tablet;
        }
        &__description {
            @include sentence--tablet--basic($space-text);
        }
    }
    @media (max-width: 480px) {
        @include base-area--mobile($space-background);
        &__title {
            @include section-title--mobile;
        }
        &__description {
            @include sentence--mobile--basic($space-text);
        }
    }
}