@charset "UTF-8";
/***************************************************************
                          Color Settings
****************************************************************/
/*宇宙背景ver. カラーリング*/
/*地球背景ver. カラーリング*/
/***************************************************************
                          Size Settings
****************************************************************/
/***********************************************************
                         MIXIN
***********************************************************/
/***********************************************************
                           ABOUT ME
***********************************************************/
.aboutme {
  width: 100%;
  background-color: #ACCC1E;
}

.aboutme h2 {
  padding: 0;
  padding-top: 100px;
  padding-bottom: 80px;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.aboutme h2:first-letter {
  font-size: 3rem;
}

.aboutme__content {
  width: 76vw;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 150px;
}

.aboutme__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 76vw;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 150px;
}

.aboutme__profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
}

.aboutme__profile article {
  text-shadow: 0px 0px 1rem #87a017;
  color: #edf1dc;
  margin-bottom: 50px;
  margin-top: 20px;
}

.aboutme__profile img {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  margin-left: 5vw;
}

.aboutme__chronology {
  z-index: 1;
}

@media (max-width: 960px) {
  .aboutme h2 {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 80px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
  .aboutme h2:first-letter {
    font-size: 2.7rem;
  }
  .aboutme__profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-flow: column-reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
  }
}

@media (max-width: 480px) {
  .aboutme h2 {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 80px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
  .aboutme h2:first-letter {
    font-size: 2.4rem;
  }
}
