@charset "UTF-8";
/***********************************************************
                            BODY
***********************************************************/
@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark");
body {
  font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  border-bottom: none;
}

/***********************************************************
                           HEADER
***********************************************************/
header {
  height: 90vh;
  background-image: url("/images/svg/star1300-900.svg");
}

header h1 {
  text-align: center;
  line-height: 90vh;
}

header:after {
  content: url("/images/svg/star1300-900.svg");
}

/*
サイトタイトル：Palanquin Dark / Bold ※横幅100に広げてる
サブタイトル：Palanquin Dark / Medium
その他本文（英）：Palanquin Dark / Medium (Sans Serif)
その他本文（和）：M+ Type-1 / Medium (Sans Serif)
※M+ Type-2 ってのもあるんだけど、２の方は少し曲線と歪みが強くて癖があるうえに、
欧文の方とあわないから、タイプ１をつかう。


Palanquin Dark ( Bold & Medium)
https://fonts.google.com/specimen/Palanquin+Dark?selection.family=Palanquin+Dark:500,700
font-family: 'Palanquin Dark', sans-serif;
<link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:500,700" rel="stylesheet">



M+ Type-1 
http://mplus-fonts.osdn.jp/design.html#mplus_1
http://mplus-fonts.osdn.jp/about.html#font_files
https://fonts.google.com/earlyaccess
Link

<link rel="stylesheet" type="text/css"
 href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
</head>


*/
