@charset "UTF-8";
/***************************************************************
                          Color Settings
****************************************************************/
/*宇宙背景ver. カラーリング*/
/*地球背景ver. カラーリング*/
/***********************************************************
                            BODY / main
***********************************************************/
@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700");
:root {
  font-size: 14px;
}

body {
  font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
  font-weight: 400;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;
}

main section {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  border-bottom: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/***********************************************************
                         common parts
***********************************************************/
.earth-top {
  vertical-align: top;
  background-color: #ACCC1E;
  margin: 0;
  padding: 0;
}

.earth-top img {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.space-top {
  vertical-align: top;
  background-color: #212E45;
  margin: 0;
  padding: 0;
}

.space-top img {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.aboutme h2, .works h2, .skills h2 {
  padding: 50px 0;
  margin: 0;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2.0rem;
  letter-spacing: 0.2rem;
}

.aboutme h2:first-letter, .works h2:first-letter, .skills h2:first-letter {
  font-size: 3.0rem;
}

/***********************************************************
                           HEADER
***********************************************************/
header {
  height: 85vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #212E45;
  background-image: url("/images/svg/star1300-900.svg");
  background-size: cover;
}

header nav {
  position: fixed;
  top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 10px 50px 10px 0;
  background-color: #212E45;
  color: white;
  font-size: 1.0rem;
  font-weight: normal;
  opacity: 0.75;
}

header nav ol {
  text-align: center;
}

header nav ol li {
  display: inline-block;
  padding: 0px;
}

header nav ol li a {
  padding: 1px 30px;
  border-radius: 15px;
  background-color: #212E45;
}

header nav ol li a:hover {
  color: #CFED47;
  background-color: #0f141d;
}

header h1 {
  text-align: center;
  line-height: 90vh;
  margin: 0;
  font-size: 3.0rem;
  font-weight: 700;
  letter-spacing: 0.6rem;
  color: #CFED47;
}

/***********************************************************
                           ABOUT ME
***********************************************************/
.aboutme {
  width: 100%;
  background-color: #ACCC1E;
}

/***********************************************************
                           WORKS
***********************************************************/
.works {
  width: 100%;
  background-color: #212E45;
}

/***********************************************************
                           SKILLS
***********************************************************/
.skills {
  width: 100%;
  background-color: #ACCC1E;
}

/***********************************************************
                           FOOTER
***********************************************************/
footer {
  position: relative;
  height: 20vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: top;
  background-color: #212E45;
  background-image: url("/images/svg/star1300-900.svg");
  background-size: cover;
}

footer .snsicons ul {
  text-align: center;
}

footer .snsicons ul li {
  display: inline-block;
  padding: 0px;
  list-style: none;
}

footer span {
  position: absolute;
  bottom: 5vh;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}
