@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?nvtilu");
  src: url("/fonts/icomoon.eot?nvtilu#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?nvtilu") format("truetype"), url("/fonts/icomoon.woff?nvtilu") format("woff"), url("/fonts/icomoon.svg?nvtilu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
  color: #ff4b4b;
}

.icon-book:before {
  content: "\e901";
}

.icon-cookpad:before {
  content: "\e902";
}

.icon-cross:before {
  content: "\e903";
}

.icon-facebook-with-circle:before {
  content: "\e904";
}

.icon-heart:before {
  content: "\e905";
}

.icon-instagram-with-circle:before {
  content: "\e906";
}

.icon-man:before {
  content: "\e907";
}

.icon-menu:before {
  content: "\e908";
}

.icon-pencil:before {
  content: "\e909";
}

.icon-pinterest-with-circle:before {
  content: "\e90a";
}

.icon-skill-heart:before {
  content: "\e90b";
}

.icon-tools:before {
  content: "\e90c";
}

.icon-twitter-with-circle:before {
  content: "\e90d";
}
