@charset "UTF-8";
/***************************************************************
                          Color Settings
****************************************************************/
/*宇宙背景ver. カラーリング*/
/*地球背景ver. カラーリング*/
/***************************************************************
                          Size Settings
****************************************************************/
/***********************************************************
                         MIXIN
***********************************************************/
@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700");
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?nvtilu");
  src: url("/fonts/icomoon.eot?nvtilu#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?nvtilu") format("truetype"), url("/fonts/icomoon.woff?nvtilu") format("woff"), url("/fonts/icomoon.svg?nvtilu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
  color: #ff4b4b;
}

.icon-book:before {
  content: "\e901";
}

.icon-cookpad:before {
  content: "\e902";
}

.icon-cross:before {
  content: "\e903";
}

.icon-facebook-with-circle:before {
  content: "\e904";
}

.icon-heart:before {
  content: "\e905";
}

.icon-instagram-with-circle:before {
  content: "\e906";
}

.icon-man:before {
  content: "\e907";
}

.icon-menu:before {
  content: "\e908";
}

.icon-pencil:before {
  content: "\e909";
}

.icon-pinterest-with-circle:before {
  content: "\e90a";
}

.icon-skill-heart:before {
  content: "\e90b";
}

.icon-tools:before {
  content: "\e90c";
}

.icon-twitter-with-circle:before {
  content: "\e90d";
}

/***************************************************************
                          Color Settings
****************************************************************/
/*宇宙背景ver. カラーリング*/
/*地球背景ver. カラーリング*/
/***************************************************************
                          Size Settings
****************************************************************/
/***********************************************************
                         MIXIN
***********************************************************/
/***********************************************************
                            BODY / main
***********************************************************/
:root {
  font-size: 14px;
}

body {
  font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

/***********************************************************
                         COMMON PARTS
***********************************************************/
.earth-top {
  vertical-align: top;
  background-color: #ACCC1E;
}

.earth-top img {
  vertical-align: top;
}

.space-top {
  vertical-align: top;
  background-color: #212E45;
}

.space-top img {
  vertical-align: top;
}

/***********************************************************
                           HEADER
***********************************************************/
header {
  height: 85vh;
  width: 100%;
  background-color: #212E45;
  background-image: url("/images/svg/star1300-900.svg");
  background-size: cover;
}

header nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 13px 50px 10px 0;
  background-color: #212E45;
  opacity: 0.75;
  vertical-align: center;
  color: white;
  font-size: 1.0rem;
}

header nav ol {
  text-align: center;
}

header nav ol li {
  display: inline-block;
  padding: 0px;
}

header nav ol li a {
  padding: 1px 30px;
}

header nav ol li a:hover {
  color: #CFED47;
  background-color: black;
  border-radius: 15px;
}

header nav .navmenu {
  display: none;
}

header h1 {
  text-align: center;
  line-height: 90vh;
  font-size: 3.0rem;
  font-weight: 700;
  letter-spacing: 0.6rem;
  color: #CFED47;
}

@media (max-width: 960px) {
  header nav {
    padding: 0;
    height: auto;
  }
  header nav .navmenu {
    display: block;
    font-size: 2.5rem;
    float: right;
    padding: 2px 5px 0 0;
  }
  header nav .navmenu_list {
    display: none;
  }
  header nav.nav-open {
    opacity: 0.9;
    background-color: #151e2d;
  }
  header nav.nav-open .navmenu_list {
    display: block;
    text-align: left;
    padding: 5px 0 15px 0;
  }
  header nav.nav-open .navmenu_list li {
    display: block;
    line-height: 3rem;
    text-align: center;
    margin: 0 10vw;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, 0.3);
  }
  header nav.nav-open .navmenu_list li:last-child {
    border-bottom: none;
  }
  header nav.nav-open .navmenu_list li a {
    padding: 0;
    width: 100%;
  }
  header nav.nav-open .navmenu_list li a:hover {
    color: #CFED47;
    border: none;
  }
  header h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 2.0rem;
  }
}

/***********************************************************
                           ABOUT ME
***********************************************************/
.aboutme {
  width: 100%;
  background-color: #ACCC1E;
}

.aboutme h2 {
  padding: 50px 0;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.aboutme h2:first-letter {
  font-size: 3rem;
}

@media (max-width: 960px) {
  .aboutme h2 {
    padding: 50px 0;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
  .aboutme h2:first-letter {
    font-size: 2.7rem;
  }
}

@media (max-width: 480px) {
  .aboutme h2 {
    padding: 50px 0;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
  .aboutme h2:first-letter {
    font-size: 2.4rem;
  }
}

/***********************************************************
                           WORKS
***********************************************************/
.works {
  width: 100%;
  background-color: #212E45;
}

.works h2 {
  padding: 50px 0;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.works h2:first-letter {
  font-size: 3rem;
}

@media (max-width: 960px) {
  .works h2 {
    padding: 50px 0;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
  .works h2:first-letter {
    font-size: 2.7rem;
  }
}

@media (max-width: 480px) {
  .works h2 {
    padding: 50px 0;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
  .works h2:first-letter {
    font-size: 2.4rem;
  }
}

/***********************************************************
                           SKILLS
***********************************************************/
.skills {
  width: 100%;
  background-color: #ACCC1E;
}

.skills h2 {
  padding: 50px 0;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.skills h2:first-letter {
  font-size: 3rem;
}

@media (max-width: 960px) {
  .skills h2 {
    padding: 50px 0;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
  .skills h2:first-letter {
    font-size: 2.7rem;
  }
}

@media (max-width: 480px) {
  .skills h2 {
    padding: 50px 0;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
  .skills h2:first-letter {
    font-size: 2.4rem;
  }
}

/***********************************************************
                           FOOTER
***********************************************************/
footer {
  width: 100%;
  vertical-align: top;
  background-color: #212E45;
  background-image: url("/images/svg/star1300-900.svg");
  background-size: cover;
}

footer .snsicons {
  color: white;
  font-size: 3rem;
  padding-top: 20px;
  text-align: center;
}

footer .snsicons li {
  display: inline-block;
  padding: 0 5px;
}

footer .snsicons li a:hover {
  color: #CFED47;
}

footer aside {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 0;
  text-align: center;
  vertical-align: bottom;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.15rem;
  font-size: 0.8rem;
}

@media (max-width: 960px) {
  footer .snsicons {
    font-size: 2.6rem;
  }
}

@media (max-width: 480px) {
  footer .snsicons {
    font-size: 2.4rem;
  }
  footer aside {
    font-size: 0.6rem;
    padding: 25px 0;
  }
}

/***********************************************************
                           TEXT
***********************************************************/
div#font section {
  font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Regular', sans-serif;
}

div#font #test01 {
  font-weight: bold;
}

div#font #test02 {
  font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) thin', sans-serif;
}

div#font #test03 {
  font-family: 'Palanquin Dark', 'M+ Type-1 (general-j) Black', sans-serif;
  color: #fafa99;
  font-size: 2.0em;
  font-weight: 900;
}

div#font #test04 {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-stretch: ultra-expanded;
}

div#headertest {
  height: 85vh;
  width: 100%;
  background-color: #212E45;
  background-image: url("/images/svg/star1300-900.svg");
  background-size: cover;
}

div#headertest h1 {
  text-align: center;
  line-height: 90vh;
}
